.Select-control {
    background-color: #4e5567;
}

.Select-value-label {
    color: #ffffff !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder .Select-control{
    border: 1px #646775;
    border-radius: 4px;
}

.Select-multi-value-wrapper,
.Select-menu-outer div {
	background-color : #4e5567;
}

.Select-control,
.Select-control>span {
	color: white;
	background: #4e5567 !important;
}

.VirtualizedSelectOption {
    background-color: #4e5567;
    color: #ffffff;
 }


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
    background-color: #3e3f42 !important;
    opacity: 1;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: #646775;
  border-radius: 4px;
  box-shadow: none;
}

.Select--multi .Select-value {
  color: #ffffff;
}