/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Corps des pages
- Textes
- Boutons
- DropDowns
- Tabs
- Widgets
- Loading
- Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Corps des pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: #2b323f; /* Couleur de fond de la page */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Nouvelle classe pour le conteneur global */
.hub {
    padding: 1cm; /* Espace autour du conteneur interne */
}

.container {
    background-color: #2b323f; /* Couleur de fond du conteneur principal */
    border-radius: 5px;
    padding: 2rem;
    width: 100%;
    max-width: calc(100% - 0cm); /* Calculer la largeur en soustrayant la marge des deux côtés */
    margin: auto; /* Centrer le conteneur */
}

.dash-spinner-container {
	background-color: #2b323f !important;
}

.header {
    font-weight: bolder;
    background-color: #2b323f; /* Couleur de fond de l'en-tête */
    color: #ffffff; /* Couleur du texte de l'en-tête */
    padding: 1rem;
    border-radius: 5px 5px 0 0; /* Bordures arrondies en haut du conteneur */
    text-align: center;/* Centrer le texte */
}

.result-output {
    padding: 1rem; /* Padding du conteneur de résultats */
    background-color: #f2f2f2; /* Couleur de fond du conteneur de résultats */
    border-radius: 5px; /* Bordures arrondies */
    margin-top: 1rem; /* Marge en haut du conteneur de résultats */
}

.results-container {
    display: flex;
    flex-direction: row;
}

.predefined-vars { /* Active Flexbox */
    display: none;
    justify-content: flex-start; /* Alignement au début du conteneur */
    gap: 10px; /* Espace entre les boutons */
    width: 100%; /* Assurez-vous que le conteneur prend toute la largeur */
}

.panels-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-panel{
    position: -webkit-sticky; /* Pour la compatibilité avec Safari */
    position: sticky;
    top: 0; /* Ce sera le point à partir duquel le panneau deviendra 'collant' */
    width: 15%; /* Ajustez selon le besoin */
    height: 100vh; /* S'étend sur toute la hauteur de la fenêtre d'affichage */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #4e5567;
    border-radius: 10px;
}

.right-panel{
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    margin-left: 25px;
}

.tab2-title{
    color: #ffffff;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Textes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header H3 {
    margin: 0;
    font-weight: bolder;/* Enlever la marge par défaut du h1 */
}

.form-label {
    display: block; /* Affichage block pour que le label prenne toute la largeur */
    margin-bottom: .5rem;
    color: white; /* Couleur du texte des labels mise à jour pour la visibilité */
}

.variables-info{
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left: 25px;
}

.md_title{
    color: white;
    font-weight: bolder;
    font-size: 27px;
}

.results-title{
    color: #ffffff;
    font-weight: bolder;
    font-family: "DecoType Naskh";
    font-size: 35px;

}

.left-title{
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
}

.logo-and-label {
    display: flex;
    align-items: center;
    margin-left: 30px ;
    gap: 15px; /* Adjust this value as needed to control the spacing between the logo and the text */
}

.logo-and-label-left {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust this value as needed to control the spacing between the logo and the text */
}

.logo-inline {
    height: 40px;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.logo-left {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

.data-summary{
    color: white;
    font-weight: normal;
    font-size: 19px;
}

.left-panel-metric{
    color: white;
    font-weight: normal;
    font-size: 18px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Boutons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
    background-color: #B10031; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
     /* Padding du bouton */
    border: none; /* Aucune bordure */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Style du curseur en forme de pointeur */
    display: block; /* Rendre le bouton block pour centrer */
    width: 100%; /* Faire en sorte que le bouton prenne toute la largeur */
    margin-top: 1rem; /* Marge au-dessus du bouton */
}

.button:hover {
    background-color: #B10031; /* Couleur de fond du bouton au survol */
}

.launch-button-mod{
    background-color: #B10031; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Aucune bordure */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Style du curseur en forme de pointeur */
    display: block; /* Rendre le bouton block pour centrer */
    margin: auto;
    width: 25%;
}

.button-inline {
    flex-grow: 1; /* Permet aux boutons de remplir l'espace de manière égale */
    background-color: #B10031; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Aucune bordure */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Style du curseur en forme de pointeur */
    margin-top: 1rem; /* Marge au-dessus du bouton */
}

.download-button {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Ajustement pour un peu plus d'espace */
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background: transparent; /* Wrap the text */
  line-height: 1.5;
    width : 270px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
DropDowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.col {
    flex: 1;
}

.label-inline {
    font-size: 22px;
    color: white;
}

.label-left{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.dropdown-inline {
    flex-grow: 1;
    width: 70%;
    float: right;
    color: white;
}

#tabs {
	width: 100%;
}

.dropdown-results{
    width: 40%;
    margin-left:60px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.custom-tabs {
	background-color: #2b323f;
	text-transform: uppercase;
    color: #f2f2f2;
	font-weight: 600;
	font-size: 18px;
	height: fit-content;
	cursor: pointer;
    align-items: center;
	justify-content: center;
}

#Specs-tab.custom-tab,
#analyse-tab.custom-tab,
#chat-tab.custom-tab,
#Control-chart-tab.custom-tab {
	background-color: #7e7e81;
	letter-spacing: 1px;
	color: inherit;
	border: 0;
	border-bottom: #454545 solid 4px !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 18px;
	width: 94%;
}

#Specs-tab.custom-tab--selected,
#chat-tab.custom-tab--selected,
#analyse-tab.custom-tab--selected,
#Control-chart-tab.custom-tab--selected {
	border-bottom: #B10031 solid 4px !important;
    background-color: #B10031;
    align-items: center;
	justify-content: center;
}

#Specs-tab.custom-tab {
	margin-right: 3px;
}

#Control-chart-tab.custom-tab {
	margin-left: 3px;
}

#chat-tab.custom-tab {
	margin-left: 3px;
}

#analyse-tab.custom-tab {
	margin-right: 3px;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Widgets
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#score-gauge>div,
#score-gauge>div>div,
#score-gauge>div>div>div {
	width: 100%;
	text-align: center;
}

#score-gauge svg {
	height: auto;
}

#score-gauge>div>div>div>div {
	color: #ffffff !important;
	font-size: 20px;
}

.uploader{
    color: white;
    border: 2px solid #ffffff;
	width: 50%;
	border-width: 1px;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	padding: 15px 10px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dash-spinner {
  background-image: url('/assets/images/download.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dash-spinner * {
  display: none !important;
}

.logo-title{
    height: 80px;
    width: auto;
    vertical-align: middle;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.custom-slider .rc-slider-track {
    background-color: #B20031;
}

.custom-slider .rc-slider-handle {
    border-color: #B20031;
    width: 15px;
    height: 15px;
    margin-top: -6px;
}

.slider-container{
    width: 80%;
    margin: auto;
}

.custom-slider .rc-slider-dot-active{
    border-color : #FFFFFF;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
chatbot
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.message-container, .radioitems-container {
    border-radius: 15px; /* Forme ovale */
    padding: 20px 30px;
    font-size: 1.2em;
    width: 35%; /* Réduire la largeur pour ne pas atteindre le milieu */
    margin: auto; /* Ajouter automatiquement un espace autour de chaque conteneur */
}

.message-container {
    background-color: #007BFF; /* Blue background */
    color: white;
    text-align: left;
    margin-left: 2%;
    float: left; /* Align to the left */
    margin-bottom: 75px;
    font-size: 30px;
    position: relative; /* Position relative pour utiliser le décalage top */
    top: -35px; /* Décaler légèrement vers le haut */
}

/* Stylisation générale des containers des RadioItems pour correspondre à l'esthétique des dropdowns */
.radioitems-container {
    background-color: #8B0000; /* Dark red background */
    color: white;
    margin-right: 2%;
    float: right; /* Aligné à droite */
    margin-bottom: 10px;
    top: 15px; /* Légèrement décalé vers le bas */
}
.radio-inline.selection-radio {
    display: flex; /* Use flexbox for inner alignment */
    flex-direction: row; /* Align items in a row */
    justify-content: flex-end; /* Align items to the end (right) */
}

.radio-inline.selection-radio .Select-control, .radio-inline.selection-radio .Select-value, .radio-inline.selection-radio .Select-placeholder {
    color: white; /* White text color for dropdown items */
}

.radio-inline.selection-radio label {
    display: block; /* Ensure labels are block level for better control */
    margin-right: 40px; /* Space between radio buttons */
    color: white; /* White text color for labels */
    font-size: 20px;
}

.radio-inline.selection-radio input[type="radio"] {
    accent-color: white; /* White color for the radio button if supported */
}

.label-inline.message-label{
    font-size: 20px;
}
